BOT_TOKEN=
SUPABASE_URL=https://xsiyhdgmamtkrjwfpwxh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

APP_URL=https://strongest.sanau-ai.kz

SUPPORT_USERNAME=
ADMIN_TELEGRAM_IDS=

NODE_ENV=development
BOT_MODE=polling
PORT=3001

WEBHOOK_DOMAIN=
WEBHOOK_SECRET=

FIRST_MONTH_STARS=100
MONTHLY_RENEWAL_STARS=150
FIRST_MONTH_DAYS=30
MONTHLY_RENEWAL_DAYS=30

PAYMENT_PROVIDER=telegram_stars

DISPLAY_TIMEZONE=Asia/Almaty
